<div>
    <form id="bookmark-form">
        <label for="url">url</label>
        <input name="url" type="text">
        <label for="notes">details</label>
        <textarea name="notes" id="details" cols="30" rows="3"></textarea>
        <button type="submit">submit</button>


    </form>
</div>