<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insert Clever Node Humor</title>
  </head>
  <body>
    <header>Dude, Where's my Notes?</header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/notes">Notes</a></li>
        <li><a href="/bookmarks">Bookmarks</a></li>
        <li><a href="/notes/new">New Note</a></li>
        <li><a href="/bookmarks/new">New Bookmark</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
    <main>
     {{{body}}}
    </main>
  </body>
</html>